AddDefaultCharset UTF-8
DirectoryIndex index.php
AddType application/x-httpd-php .php

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|svg|eot|otf|ttf|woff)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

RewriteEngine on
RewriteBase /

RewriteRule ^api/(\w+)/(\w+)?/?$ index.php?object=API&action=$2&version=$1 [L,QSA]
RewriteRule ^profile/(\w+(-\w+)*)?/?$ index.php?object=profileDisplay&action=profile&pid=$1 [L,QSA]
RewriteRule ^trek/(\w+(-\w+)*)?/?$ index.php?object=trekDisplay&action=view&tid=$1 [L,QSA]
RewriteRule ^(\w+)/(\w+)?/?$ index.php?object=$1Display&action=$2 [L,QSA]
RewriteRule ^(\w+)?/?$ index.php?action=$1 [L,QSA]