/* colors */

$main1: #3F51B5;
$main2: #FFC107;

$main1Black: #1A237E;
$main2Black: #FF6F00;

$main1Dark: #303F9F;
$main2Dark: #FFA000;

$main1Light: #9FA8DA;
$main2Light: #FFE082;

$gray: #9E9E9E;
$grayBlack: #212121;
$grayText: #424242;
$grayDark: #616161;
$grayMiddle: #BDBDBD;
$grayLight: #EEEEEE;

$black: #000000;
$white: #FFFFFF;

$tableBlue: #E8EAF6;

$red: #F44336;
$redDark: #D32F2F;
$redBlack: #B71C1C;