*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	color: white;
}

.error{
  	border: 1px solid red;
}

.note{
	font-size: 12px;
	text-align: left;
	color: $grayDark;
	line-height: 12px;
}

.error-note{
	color: rgba(255, 0, 0, 0.8);
}

.footnote{
	margin-top: 10px;
}

ul{
	list-style: none;
}

button, input[type="submit"]{
	background: $main1;
	padding: 3px 20px;
	font-size: 13px;
	box-shadow: 0 0 0 1px $main1Dark;
	border: none;
	border-radius: 0px;
	color: $white;
	outline: none;
	cursor: pointer;
	width: auto;
	&:hover{
		background: $main1Dark;
		box-shadow: 0 0 0 1px $main1Black;
	}
	&.cancel{
		background: $grayDark;
		box-shadow: 0 0 0 1px $grayBlack;
		&:hover{
			background: $grayText;
		}
	}
	&.delete{
		background: $red;
		box-shadow: 0 0 0 1px $redDark;
		&:hover{
			background: $redDark;
			box-shadow: 0 0 0 1px $redBlack;
		}
	}
}

select{
	background: $main1;
	padding: 3px;
	font-size: 13px;
	box-shadow: 0 0 0 1px $main1Dark;
	border: none;
	border-radius: 0px;
	color: $white;
	outline: none;
	cursor: pointer;
	width: auto;
	&:hover{
		background: $main1Dark;
		box-shadow: 0 0 0 1px $main1Black;
	}
	.default{
		color: $main1Light;
	}
}

input, textarea{
	padding: 5px;
	border: 1px solid $main1Light;
	outline: none;
	width: 100%;
	resize: vertical;
	&:focus{
		box-shadow: inset 0 0 3px $gray;
		border: 1px solid $main1;
	}
}

table{
	font-size: 14px;
}

.left-col, .right-col{
	display: table-cell;
	vertical-align: top;
}
.left-col{
	padding-right: 2px;
}
.right-col{
	padding-left: 2px;
}

.slider{
	transition: all 0.5s ease;
	transform-origin: 0 0 0;
	&.show{
		transform: scale(1);
		&.h100{
			max-height: 100px;
		}
		&.h200{
			max-height: 200px;
		}
		&.h300{
			max-height: 300px;
		}
		&.h350{
			max-height: 350px;
		}
		&.h400{
			max-height: 400px;
		}
		&.h500{
			max-height: 500px;
		}
	}
	&.hide{
		transform: scale(0);
		max-height: 0px;
	}
}

.autocomplete{
	position: relative;
	.values{
		position: absolute;
		top: 100%;
		left: 0px;
		background: $white;
		border: 1px solid $gray;
		padding: 5px 3%;
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
		border-radius: 5px;
		width: 94%;
		z-index: 100;
		li{
			cursor: pointer;
			padding: 0 5px;
			&:hover{
				background: $grayLight;
			}
		}
	}
}

.pop-up{
	background: $white;
	position: absolute;
	width: 200px;
	border: 1px solid $main2;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	top: 20%;
	left: 50%;
	margin-left: -100px;
	z-index: 1500;
	.note{
		margin-top: 10px;
	}
}

.pop-up-image{
	z-index: 9999;
	background: #FFFFFF;
	position: absolute;
	width: 1000px;
	padding: 20px;
	top: 50px;
	left: 50%;
	margin-left: -500px;
	transform: scale(0);
	opacity: 0.5;
	transition: all 0.5s ease;
	&.in{
		opacity: 1;
		transform: scale(1);
	}
	img{
		cursor: auto!important;
		max-width: 900px!important;
		max-height: 600px!important;
	}
	.close-pop-up-image{
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 30px;
		cursor: pointer;
	}
}

.window{
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1500;
	.window-content{
		position: relative;
		width: 70%;
		margin: 0 auto;
		left: 0px;
		margin-top: 100px;
		background: $white;
		border: 1px solid $main1;
		border-radius: 10px;
		padding: 10px;
		.close{
			position: absolute;
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			background: $grayDark;
			border-radius: 10px;
			text-align: center;
			font-size: 15px;
			color: $white;
			cursor: pointer;
			&:hover{
				background: $grayText;
			}
			i{
				line-height: 20px;
			}
		}
	}
}

body{
	background: $grayLight;
	font-family: 'Roboto';
	padding: 0px;
	margin: 0px;
	color: $grayText;
	font-size: 14px;
	&.admin_page{
		background: url('/img/elems/sidebar-bg.png');
		background-color: $grayLight;
		background-position: 0 0;
		background-repeat: repeat-y;
	}
	h1{
		font-size: 24px;
		margin: 0px;
	}
	
	#head_menu{
		width: 100%;
		height: 50px;
		background: $grayDark;
		line-height: 3em;
		border-bottom: 1px solid $grayBlack;
		li{
			line-height: 50px;
			display: inline-block;
			a{
				border-right: 1px solid $gray;
				padding: 5px;
				font-size: 14px;
				&:hover{
					text-decoration: underline;
				}
			}
			&:last-child{
				a{
					border-right: 0px;
				}
			}
		}
		.head_col{
			display: table-cell;
			vertical-align: top;
			width: 1%;
			.web_logo{
				color: $main2;
				margin-left: 0.3em;
				width: 100%;
				height: 100%;
				font-size: 25px;
				font-family: 'Shadows Into Light', cursive;
			}
			.sign_btn{
				color: $white;
			  	float: right; 
			  	margin-right: 10px;
			  	cursor: pointer;
				height: 50px;
				line-height: 50px;
			}
			.sign_block{
			  	line-height: 1.5em;
			}
		}
	}
	
	.black-flow{
	  	width: 100%;
	  	height: 100%;
	  	background: $grayBlack;
	  	position: fixed;
	  	top: 0;
	  	left: 0;
	  	opacity: 0.7;
	  	z-index: 1000;
	  	&.zoom-in{
	  		transition: all 0.5s ease;
	  		z-index: 1000;
	  		opacity: 0.87;
	  	}
	  	&.zoom-out{
	  		transition: all 0.5s ease;
	  		z-index: -1;
	  		opacity: 0;
	  	}
	}

	.sign-in-div{
		span{
		  	margin-top: 10px;
		}
		em{
			color: red;
		}
		button, input[type="submit"]{
			margin-top: 10px;
		}
		.after-reg{
			cursor: pointer;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		.note{
			&.error-note{
				margin-top: 0px;
			}
		}
		.auth-title{
			cursor: pointer;
			display: table-cell;
			vertical-align: top;
			text-decoration: underline;
			font-size: 13px;
			width: 100%;
			&:nth-child(1){
				text-align: left;
			}
			&:nth-child(2){
				text-align: right;
			}
		  
		}
	}
}

.page-content{
	position: relative;
	h2{
		font-size: 18px;
	}
	.siderbar{
		padding: 5px;
		width: 300px;
		float: left;
		background: #FAFAFA;
		border-right: 1px solid $grayMiddle;
		h2{
			font-weight: 500;
		}
		ul{
			margin-bottom: 10px;
			li{
				padding: 5px 10px;
				height: 15px;
				color: $main1Black;
				font-size: 14px;
				cursor: pointer;
				border-bottom: 1px solid $grayLight;
				&:hover{
					border-bottom: 1px solid $main1;
				}
				&.active{
					background: $main1;
					color: $white; 
				}
			} 
		}
	}
	.page-shop{
		.shopcart-preview{
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
			.label{
				width: 100px;
				margin: 0 auto;
				&:hover{
					.icon{
						height: 10px;
					}
				}
				.icon{
					cursor: pointer;
					width: 30px;
					height: 5px;
					margin: 0 auto;
					background: $main1;
					color: $white;
					text-align: center;
					line-height: 20px;
					border-radius: 5px 5px 0 0;
					transition: height 0.2s ease;
					z-index: 15;
				}
				.icon-text{
					cursor: pointer;
					width: 100px;
					height: 30px;
					margin: 0 auto;
					background: $main1;
					color: $white;
					line-height: 30px;
					text-align: center;
					border-radius: 5px 5px 0 0;
					z-index: 10;
				}
			}
			.preview-content{
				background: $main1;
				color: white;
				padding: 5px 10%;
				h1{
					color: white;
				}
				table{
					width: 100%;
					color: $white;
					tr{
						th{
							color: $grayMiddle;
						}
						&:last-child{
							td{
								border-bottom: 1px dashed $gray;
							}
						}
						td{
							text-align: center;
							border-top: 1px dashed $gray;
							&.img{
								width: 50px;
								height: 50px;
								img{
									width: 50px;
									height: 50px;
								}
							}
							.change{
								width: 100px;
							}
							&.qty{
								input{
									text-align: center;
									height: 23px;
									width: 30px;
									border: 1px solid $main1Dark;
								}
							}
							&.remove{
								div{
									width: 20px;
									height: 20px;
									text-align: center;
									background: $main2Black;
									color: $white;
									border-radius: 10px;
									cursor: pointer;
									&:hover{
										background: $gray;
									}
									i{
										font-size: 17px;
										line-height: 20px;
									}
								}
							}
						}
					}
				}
			}
		}
		.item-window{
			padding-right: 20px;
			.content{
				margin-top: 10px;
				.left-col{
					padding-right: 5px;
					img{
						width: 150px;
						height: 150px;
					}
				}
				.right-col{
					padding-left: 10px;
					border-left: 1px dashed $gray;
					.description{
						font-size: 12px;
					}
				}
				.price{
					text-align: right;
					padding-right: 5px;
				}
				.nav{
					text-align: right;
					input{
						width: 30px;
						height: 23px;
						margin-right: 5px;
						text-align: center;
					}
				}
			}
		}	
		.workarea{
			.content{
				background: white;
				padding: 20px;
				border-radius: 10px;
				box-shadow: 0 0 3px rgba(0,0,0,0.5);
				.items-grid{
					padding: 10px;
					li{
						display: inline-block;
						padding: 10px;
						margin: 10px;
						border: 1px solid $gray;
						border-radius: 5px;
						cursor: pointer;
						position: relative;
						&:hover{
							border: 1px solid $main1Black;
						}
						.img{
							width: 200px;
							height: 200px;
							img{
								width: 200px;
								height: 200px;
							}
						}
						.title{
							text-align: center;
						}
						.price, .category{
							.right{
								display: inline-block;
								float: right;
							}
						}
						.nav{
							text-align: right;
							margin-top: 5px;
							input{
								width: 30px;
								height: 23px;
								margin-right: 5px;
								text-align: center;
							}
						}
					}
				}
				.items-list{
					display: table;
					width: 100%;
					border: 1px solid $gray;
					border-radius: 5px;
					li{
						display: table-row;
						&:last-child{
							div, h3{
								border-bottom: 0px;
							}
						}
						div, h3{
							display: table-cell;
							border-right: 1px solid $gray;
							border-bottom: 1px solid $gray;
							vertical-align: middle;
							text-align: center;
							&:last-child{
								border-right: 0px;
							}
						}
						.img{
							width: 40px;
							height: 40px;
							padding: 5px;
							img{
								width: 40px;
								height: 40px;
							}
						}
						.price{
							text-align: right;
							padding-right: 10px;
						}
						.nav{
							width: 150px;
							vertical-align: middle;
							input{
								width: 30px;
								height: 23px;
								margin-right: 5px;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
	.page-admin{
		margin-left: 311px;
	}
	.page-data{
		padding: 5px;
		.page-menu{
			margin: 0 10px;
			background: $main1;
			color: $main1Light;
			position: relative;
			ul{
				padding: 7px 10px;
				li{
					cursor: pointer;
					display: inline-block;
					padding: 3px 5px;
					border-right: 1px  solid $main1Light;
					&:last-child{
						border-right: 0px;
					}
				}
				select{
					color: $main1Light;
				}
				.active{
					color: $grayLight;
				}
				&.menu-right{
					position: absolute;
					top: 0px;
					right: 10px;
					line-height: 29px;
					li{
						padding: 0px;
					}
				}
			}
		}
		.workarea{
			margin: 10px 10px;
			&.manager-company-cart{
				text-align: center;
				.col{
					display: table-cell;
				}
			}
			.head-table{
				border-radius: 0px;
				background: $main1;
				color: white;
				box-shadow: none;
				tr{
					td, th{
						padding: 5px 0;
						vertical-align: middle;
					}
				}
			}
			.summary-manager-company-cart{
				table{
					padding: 0;
					margin-top: 15px;
						th{
							text-align: center;
						}
				}
			}
			h1{
				padding-left: 20px;
				margin-bottom: 5px;
			}
			h2{
				color: $main1Black;
			}
			table{
				border-spacing: 2px;
				width: 100%;
				background: white;
				padding: 20px;
				border-radius: 10px;
				box-shadow: 0 0 3px rgba(0,0,0,0.5);
				th{
					text-align: left;
				}
				tr{
					vertical-align: top;
					&:nth-child(even){
						background: $tableBlue;
					}
				}
				td{
					vertical-align: middle;
					text-align: center;
					&.img{
						width: 100px;
						img{
							max-width: 100px;
							max-height: 100px;
						}
					}
					&.tableCompanyPointer{
						cursor: pointer;
						.manager-span{
							text-decoration: underline;
						}
					}
					&.icon-td{
						text-align: center;
						i{
							font-size: 30px;
							color: $grayDark;
							&:hover{
								color: $grayBlack;
							}
						}
					}
					
				}
			}
			.company-info-table{
				font-size: 16px;
				td{
					padding: 3px;
					text-align: left;
				}
			}
			.cart-users{
				table{
					padding: 0;
					margin-top: 15px;
					text-align: center;
					td{
						width: 25%;
					}
				}
			}
			.single-user-cart{
				text-align: center;
				width: 90%;
				border-radius: 0;
				display: inline;
				tr{
					th{
						text-align: center;
					}
					td{
						width: 14%;
						img{
							cursor: pointer;
							max-height: 50px;
							max-width: 50px;
						}
					}
				}
			}
			.search-results{
				background: $white;
				width: 200px;
				box-shadow: inset 0 0 1px $main1;
				border-top: none;
				div{
					cursor: pointer;
					&:hover{
						background: $main1;
						color: $white;
					}
				}
			}
			.add-new{
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px dashed $grayMiddle;
				.form{
					width: 400px;
					padding-right: 20px;
					.note{
						margin-top: 10px;
					}
					.unit{
						width: 35%;
					}
				}
				.preview{
					width: 400px;
					padding-left: 20px;
					border-left: 1px dashed $grayMiddle;
					.left-col{
						img{
							width: 100px;
							height: 100px;
						}
					}
					.right-col{
						width: 100%;
						.price{
							text-align: right;
						}
					}
				}
				.nav{
					margin-top: 15px;
					text-align: right;
					button{
						margin-left: 5px;
					}
				}
			}
			.company{
				.edit-manager{
					.delete{
						margin-right: 10px;
					}
				}
				button{
					margin-top: 10px;
					&.cancel{
						margin-right: 10px;
					}
				}
			}

			.manager{
					.cancel{
						margin-right: 10px;
					}
			}

			.items{
				img{
					margin-top: 15px;
				}
				button{
					margin-top: 10px;
					&.cancel{
						margin-right: 10px;
					}
				}
				
			}
		}
	}
}