/* colors */
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400&subset=cyrillic,latin);
@font-face {
  font-family: 'Roboto-light';
  src: url("../css/fonts/Roboto-Light.ttf");
}
* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.error {
  border: 1px solid red;
}

.note {
  font-size: 12px;
  text-align: left;
  color: #616161;
  line-height: 12px;
}

.error-note {
  color: rgba(255, 0, 0, 0.8);
}

.footnote {
  margin-top: 10px;
}

ul {
  list-style: none;
}

button, input[type="submit"] {
  background: #3F51B5;
  padding: 3px 20px;
  font-size: 13px;
  box-shadow: 0 0 0 1px #303F9F;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  width: auto;
}
button:hover, input[type="submit"]:hover {
  background: #303F9F;
  box-shadow: 0 0 0 1px #1A237E;
}
button.cancel, input[type="submit"].cancel {
  background: #616161;
  box-shadow: 0 0 0 1px #212121;
}
button.cancel:hover, input[type="submit"].cancel:hover {
  background: #424242;
}
button.delete, input[type="submit"].delete {
  background: #F44336;
  box-shadow: 0 0 0 1px #D32F2F;
}
button.delete:hover, input[type="submit"].delete:hover {
  background: #D32F2F;
  box-shadow: 0 0 0 1px #B71C1C;
}

select {
  background: #3F51B5;
  padding: 3px;
  font-size: 13px;
  box-shadow: 0 0 0 1px #303F9F;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  width: auto;
}
select:hover {
  background: #303F9F;
  box-shadow: 0 0 0 1px #1A237E;
}
select .default {
  color: #9FA8DA;
}

input, textarea {
  padding: 5px;
  border: 1px solid #9FA8DA;
  outline: none;
  width: 100%;
  resize: vertical;
}
input:focus, textarea:focus {
  box-shadow: inset 0 0 3px #9E9E9E;
  border: 1px solid #3F51B5;
}

table {
  font-size: 14px;
}

.left-col, .right-col {
  display: table-cell;
  vertical-align: top;
}

.left-col {
  padding-right: 2px;
}

.right-col {
  padding-left: 2px;
}

.slider {
  transition: all 0.5s ease;
  transform-origin: 0 0 0;
}
.slider.show {
  transform: scale(1);
}
.slider.show.h100 {
  max-height: 100px;
}
.slider.show.h200 {
  max-height: 200px;
}
.slider.show.h300 {
  max-height: 300px;
}
.slider.show.h350 {
  max-height: 350px;
}
.slider.show.h400 {
  max-height: 400px;
}
.slider.show.h500 {
  max-height: 500px;
}
.slider.hide {
  transform: scale(0);
  max-height: 0px;
}

.autocomplete {
  position: relative;
}
.autocomplete .values {
  position: absolute;
  top: 100%;
  left: 0px;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  padding: 5px 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 94%;
  z-index: 100;
}
.autocomplete .values li {
  line-height: normal !important;
  display: block !important;
  cursor: pointer;
  padding: 0 5px;
}
.autocomplete .values li:hover {
  background: #EEEEEE;
}

.pop-up {
  background: #FFFFFF;
  position: absolute;
  width: 200px;
  border: 1px solid #FFC107;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  top: 20%;
  left: 50%;
  margin-left: -100px;
  z-index: 1500;
}
.pop-up .note {
  margin-top: 10px;
}

.pop-up-image {
  z-index: 9999;
  background: #FFFFFF;
  position: absolute;
  width: 1000px;
  padding: 20px;
  top: 50px;
  left: 50%;
  margin-left: -500px;
  transform: scale(0);
  opacity: 0.5;
  transition: all 0.5s ease;
  transform-origin: 50% 50% 0;
}
.pop-up-image.in {
  opacity: 1;
  transform: scale(1);
  transform-origin: 50% 50% 0;
}
.pop-up-image img {
  cursor: auto !important;
  max-width: 900px !important;
  max-height: 600px !important;
}
.pop-up-image .close-pop-up-image {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.window {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1500;
}
.window .window-content {
  position: relative;
  width: 70%;
  margin: 0 auto;
  left: 0px;
  margin-top: 100px;
  background: #FFFFFF;
  border: 1px solid #3F51B5;
  border-radius: 10px;
  padding: 10px;
}
.window .window-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: #616161;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
}
.window .window-content .close:hover {
  background: #424242;
}
.window .window-content .close i {
  line-height: 20px;
}

body {
  background: #EEEEEE;
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
  color: #424242;
  font-size: 14px;
}
body.admin_page {
  background: url("/img/elems/sidebar-bg.png");
  background-color: #EEEEEE;
  background-position: 0 0;
  background-repeat: repeat-y;
}
body h1 {
  font-size: 24px;
  margin: 0px;
}
body #head_menu {
  width: 100%;
  height: 50px;
  background: #616161;
  line-height: 3em;
  border-bottom: 1px solid #212121;
}
body #head_menu li {
  line-height: 50px;
  display: inline-block;
}
body #head_menu li a {
  border-right: 1px solid #9E9E9E;
  padding: 5px;
  font-size: 14px;
}
body #head_menu li a:hover {
  text-decoration: underline;
}
body #head_menu li:last-child a {
  border-right: 0px;
}
body #head_menu .head_col {
  display: table-cell;
  vertical-align: top;
  width: 1%;
}
body #head_menu .head_col .web_logo {
  color: #FFC107;
  margin-left: 0.3em;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
}
body #head_menu .head_col .sign_btn {
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
body #head_menu .head_col .sign_block {
  line-height: 1.5em;
}
body .black-flow {
  width: 100%;
  height: 100%;
  background: #212121;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1000;
}
body .black-flow.zoom-in {
  transition: all 0.5s ease;
  z-index: 1000;
  opacity: 0.87;
}
body .black-flow.zoom-out {
  transition: all 0.5s ease;
  z-index: -1;
  opacity: 0;
}
body .sign-in-div span {
  margin-top: 10px;
}
body .sign-in-div em {
  color: red;
}
body .sign-in-div button, body .sign-in-div input[type="submit"] {
  margin-top: 10px;
}
body .sign-in-div .after-reg {
  cursor: pointer;
  text-decoration: underline;
}
body .sign-in-div .after-reg:hover {
  text-decoration: none;
}
body .sign-in-div .note.error-note {
  margin-top: 0px;
}
body .sign-in-div .auth-title {
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  text-decoration: underline;
  font-size: 13px;
  width: 100%;
}
body .sign-in-div .auth-title:nth-child(1) {
  text-align: left;
}
body .sign-in-div .auth-title:nth-child(2) {
  text-align: right;
}

.page-content {
  position: relative;
}
.page-content h2 {
  font-size: 18px;
}
.page-content .siderbar {
  padding: 5px;
  width: 300px;
  float: left;
  background: #FAFAFA;
  border-right: 1px solid #BDBDBD;
}
.page-content .siderbar h2 {
  font-weight: 500;
}
.page-content .siderbar ul {
  margin-bottom: 10px;
}
.page-content .siderbar ul li {
  padding: 5px 10px;
  height: 15px;
  color: #1A237E;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #EEEEEE;
}
.page-content .siderbar ul li:hover {
  border-bottom: 1px solid #3F51B5;
}
.page-content .siderbar ul li.active {
  background: #3F51B5;
  color: #FFFFFF;
}
.page-content .page-shop .shopcart-preview {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.page-content .page-shop .shopcart-preview .label {
  width: 100px;
  margin: 0 auto;
}
.page-content .page-shop .shopcart-preview .label:hover .icon {
  height: 10px;
}
.page-content .page-shop .shopcart-preview .label .icon {
  cursor: pointer;
  width: 30px;
  height: 5px;
  margin: 0 auto;
  background: #3F51B5;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
  border-radius: 5px 5px 0 0;
  transition: height 0.2s ease;
  z-index: 15;
}
.page-content .page-shop .shopcart-preview .label .icon-text {
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  background: #3F51B5;
  color: #FFFFFF;
  line-height: 30px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  z-index: 10;
}
.page-content .page-shop .shopcart-preview .preview-content {
  background: #3F51B5;
  color: white;
  padding: 5px 10%;
}
.page-content .page-shop .shopcart-preview .preview-content h1 {
  color: white;
}
.page-content .page-shop .shopcart-preview .preview-content table {
  width: 100%;
  color: #FFFFFF;
}
.page-content .page-shop .shopcart-preview .preview-content table tr th {
  color: #BDBDBD;
}
.page-content .page-shop .shopcart-preview .preview-content table tr:last-child td {
  border-bottom: 1px dashed #9E9E9E;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td {
  text-align: center;
  border-top: 1px dashed #9E9E9E;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td.img {
  width: 50px;
  height: 50px;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td.img img {
  width: 50px;
  height: 50px;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td .change {
  width: 100px;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td.qty input {
  text-align: center;
  height: 23px;
  width: 30px;
  border: 1px solid #303F9F;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td.remove div {
  width: 20px;
  height: 20px;
  text-align: center;
  background: #FF6F00;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td.remove div:hover {
  background: #9E9E9E;
}
.page-content .page-shop .shopcart-preview .preview-content table tr td.remove div i {
  font-size: 17px;
  line-height: 20px;
}
.page-content .page-shop .item-window {
  padding-right: 20px;
}
.page-content .page-shop .item-window .content {
  margin-top: 10px;
}
.page-content .page-shop .item-window .content .left-col {
  padding-right: 5px;
}
.page-content .page-shop .item-window .content .left-col img {
  width: 150px;
  height: 150px;
}
.page-content .page-shop .item-window .content .right-col {
  padding-left: 10px;
  border-left: 1px dashed #9E9E9E;
}
.page-content .page-shop .item-window .content .right-col .description {
  font-size: 12px;
}
.page-content .page-shop .item-window .content .price {
  text-align: right;
  padding-right: 5px;
}
.page-content .page-shop .item-window .content .nav {
  text-align: right;
}
.page-content .page-shop .item-window .content .nav input {
  width: 30px;
  height: 23px;
  margin-right: 5px;
  text-align: center;
}
.page-content .page-shop .workarea .content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.page-content .page-shop .workarea .content .items-grid {
  padding: 10px;
}
.page-content .page-shop .workarea .content .items-grid li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.page-content .page-shop .workarea .content .items-grid li:hover {
  border: 1px solid #1A237E;
}
.page-content .page-shop .workarea .content .items-grid li .img {
  width: 200px;
  height: 200px;
}
.page-content .page-shop .workarea .content .items-grid li .img img {
  width: 200px;
  height: 200px;
}
.page-content .page-shop .workarea .content .items-grid li .title {
  text-align: center;
}
.page-content .page-shop .workarea .content .items-grid li .price .right, .page-content .page-shop .workarea .content .items-grid li .category .right {
  display: inline-block;
  float: right;
}
.page-content .page-shop .workarea .content .items-grid li .nav {
  text-align: right;
  margin-top: 5px;
}
.page-content .page-shop .workarea .content .items-grid li .nav input {
  width: 30px;
  height: 23px;
  margin-right: 5px;
  text-align: center;
}
.page-content .page-shop .workarea .content .items-list {
  display: table;
  width: 100%;
  border: 1px solid #9E9E9E;
  border-radius: 5px;
}
.page-content .page-shop .workarea .content .items-list li {
  display: table-row;
}
.page-content .page-shop .workarea .content .items-list li:last-child div, .page-content .page-shop .workarea .content .items-list li:last-child h3 {
  border-bottom: 0px;
}
.page-content .page-shop .workarea .content .items-list li div, .page-content .page-shop .workarea .content .items-list li h3 {
  display: table-cell;
  border-right: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
  vertical-align: middle;
  text-align: center;
}
.page-content .page-shop .workarea .content .items-list li div:last-child, .page-content .page-shop .workarea .content .items-list li h3:last-child {
  border-right: 0px;
}
.page-content .page-shop .workarea .content .items-list li .img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.page-content .page-shop .workarea .content .items-list li .img img {
  width: 40px;
  height: 40px;
}
.page-content .page-shop .workarea .content .items-list li .price {
  text-align: right;
  padding-right: 10px;
}
.page-content .page-shop .workarea .content .items-list li .nav {
  width: 150px;
  vertical-align: middle;
}
.page-content .page-shop .workarea .content .items-list li .nav input {
  width: 30px;
  height: 23px;
  margin-right: 5px;
  text-align: center;
}
.page-content .page-admin {
  margin-left: 311px;
}
.page-content .page-data {
  padding: 5px;
}
.page-content .page-data .page-menu {
  margin: 0 10px;
  background: #3F51B5;
  color: #9FA8DA;
  position: relative;
}
.page-content .page-data .page-menu ul {
  padding: 7px 10px;
}
.page-content .page-data .page-menu ul li {
  cursor: pointer;
  display: inline-block;
  padding: 3px 5px;
  border-right: 1px solid #9FA8DA;
}
.page-content .page-data .page-menu ul li:last-child {
  border-right: 0px;
}
.page-content .page-data .page-menu ul select {
  color: #9FA8DA;
}
.page-content .page-data .page-menu ul .active {
  color: #EEEEEE;
}
.page-content .page-data .page-menu ul.menu-right {
  position: absolute;
  top: 0px;
  right: 10px;
  line-height: 29px;
}
.page-content .page-data .page-menu ul.menu-right li {
  padding: 0px;
}
.page-content .page-data .workarea {
  margin: 10px 10px;
}
.page-content .page-data .workarea.manager-company-cart {
  text-align: center;
}
.page-content .page-data .workarea.manager-company-cart .col {
  display: table-cell;
}
.page-content .page-data .workarea .head-table {
  border-radius: 0px;
  background: #3F51B5;
  color: white;
  box-shadow: none;
}
.page-content .page-data .workarea .head-table tr td, .page-content .page-data .workarea .head-table tr th {
  padding: 5px 0;
  vertical-align: middle;
}
.page-content .page-data .workarea .summary-manager-company-cart table {
  padding: 0;
  margin-top: 15px;
}
.page-content .page-data .workarea .summary-manager-company-cart table th {
  text-align: center;
}
.page-content .page-data .workarea h1 {
  padding-left: 20px;
  margin-bottom: 5px;
}
.page-content .page-data .workarea h2 {
  color: #1A237E;
}
.page-content .page-data .workarea table {
  border-spacing: 2px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.page-content .page-data .workarea table th {
  text-align: left;
}
.page-content .page-data .workarea table tr {
  vertical-align: top;
}
.page-content .page-data .workarea table tr:nth-child(even) {
  background: #E8EAF6;
}
.page-content .page-data .workarea table td {
  vertical-align: middle;
  text-align: center;
}
.page-content .page-data .workarea table td.img {
  width: 100px;
}
.page-content .page-data .workarea table td.img img {
  max-width: 100px;
  max-height: 100px;
}
.page-content .page-data .workarea table td.tableCompanyPointer {
  cursor: pointer;
}
.page-content .page-data .workarea table td.tableCompanyPointer .manager-span {
  text-decoration: underline;
}
.page-content .page-data .workarea table td.icon-td {
  text-align: center;
}
.page-content .page-data .workarea table td.icon-td i {
  font-size: 30px;
  color: #616161;
}
.page-content .page-data .workarea table td.icon-td i:hover {
  color: #212121;
}
.page-content .page-data .workarea .company-info-table {
  font-size: 16px;
}
.page-content .page-data .workarea .company-info-table td {
  padding: 3px;
  text-align: left;
}
.page-content .page-data .workarea .cart-users {
  position: relative;
}
.page-content .page-data .workarea .cart-users table {
  padding: 0;
  margin-top: 15px;
  text-align: center;
}
.page-content .page-data .workarea .cart-users table td {
  width: 20%;
}
.page-content .page-data .workarea .cart-users .toggle-user-cart {
  width: 40px;
  height: 20px;
  background: #3F51B5;
  border-radius: 3px;
  margin-top: -5px;
  margin-left: -20px;
  left: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(0.8);
  z-index: 100;
}
.page-content .page-data .workarea .cart-users .toggle-user-cart i {
  transition: all 0.2s ease;
  color: #FFFFFF;
}
.page-content .page-data .workarea .cart-users .toggle-user-cart i.inverse {
  transition: all 0.2s ease;
  transform: rotate(180deg);
}
.page-content .page-data .workarea .cart-users .toggle-user-cart:hover {
  transition: all 0.2s ease;
  transform: scale(1);
}
.page-content .page-data .workarea .single-user-cart {
  height: 20px;
  transform: scale(0);
  transition: all 0.4s ease;
}
.page-content .page-data .workarea .single-user-cart.show {
  transform: scale(1);
  transition: all 0.4s ease;
  height: auto;
}
.page-content .page-data .workarea .single-user-cart table {
  text-align: center;
  width: 90%;
  border-radius: 0;
  display: inline;
}
.page-content .page-data .workarea .single-user-cart table tr th {
  text-align: center;
}
.page-content .page-data .workarea .single-user-cart table tr td {
  width: 14%;
}
.page-content .page-data .workarea .single-user-cart table tr td img {
  cursor: pointer;
  max-height: 50px;
  max-width: 50px;
}
.page-content .page-data .workarea .search-results {
  background: #FFFFFF;
  width: 200px;
  box-shadow: inset 0 0 1px #3F51B5;
  border-top: none;
}
.page-content .page-data .workarea .search-results div {
  cursor: pointer;
}
.page-content .page-data .workarea .search-results div:hover {
  background: #3F51B5;
  color: #FFFFFF;
}
.page-content .page-data .workarea .add-new {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #BDBDBD;
}
.page-content .page-data .workarea .add-new .form {
  width: 400px;
  padding-right: 20px;
}
.page-content .page-data .workarea .add-new .form .note {
  margin-top: 10px;
}
.page-content .page-data .workarea .add-new .form .unit {
  width: 35%;
}
.page-content .page-data .workarea .add-new .preview {
  width: 400px;
  padding-left: 20px;
  border-left: 1px dashed #BDBDBD;
}
.page-content .page-data .workarea .add-new .preview .left-col img {
  width: 100px;
  height: 100px;
}
.page-content .page-data .workarea .add-new .preview .right-col {
  width: 100%;
}
.page-content .page-data .workarea .add-new .preview .right-col .price {
  text-align: right;
}
.page-content .page-data .workarea .add-new .nav {
  margin-top: 15px;
  text-align: right;
}
.page-content .page-data .workarea .add-new .nav button {
  margin-left: 5px;
}
.page-content .page-data .workarea .company .edit-manager .delete {
  margin-right: 10px;
}
.page-content .page-data .workarea .company button {
  margin-top: 10px;
}
.page-content .page-data .workarea .company button.cancel {
  margin-right: 10px;
}
.page-content .page-data .workarea .manager .cancel {
  margin-right: 10px;
}
.page-content .page-data .workarea .items img {
  margin-top: 15px;
}
.page-content .page-data .workarea .items button {
  margin-top: 10px;
}
.page-content .page-data .workarea .items button.cancel {
  margin-right: 10px;
}
