/* colors */
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400&subset=cyrillic,latin);
@font-face {
  font-family: 'Roboto-light';
  src: url("../css/fonts/Roboto-Light.ttf");
}
* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.error {
  border: 1px solid red;
}

.note {
  font-size: 12px;
  text-align: left;
  color: #616161;
  line-height: 12px;
}

.error-note {
  color: rgba(255, 0, 0, 0.8);
}

.footnote {
  margin-top: 10px;
}

ul {
  list-style: none;
}

button, input[type="submit"] {
  background: #3F51B5;
  padding: 3px 20px;
  font-size: 13px;
  box-shadow: 0 0 0 1px #303F9F;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  width: auto;
}
button:hover, input[type="submit"]:hover {
  background: #303F9F;
  box-shadow: 0 0 0 1px #1A237E;
}
button.cancel, input[type="submit"].cancel {
  background: #616161;
  box-shadow: 0 0 0 1px #212121;
}
button.cancel:hover, input[type="submit"].cancel:hover {
  background: #424242;
}
button.delete, input[type="submit"].delete {
  background: #F44336;
  box-shadow: 0 0 0 1px #D32F2F;
}
button.delete:hover, input[type="submit"].delete:hover {
  background: #D32F2F;
  box-shadow: 0 0 0 1px #B71C1C;
}

input, textarea {
  padding: 5px;
  border: 1px solid #9FA8DA;
  outline: none;
  width: 100%;
  resize: vertical;
}
input:focus, textarea:focus {
  box-shadow: inset 0 0 3px #9E9E9E;
  border: 1px solid #3F51B5;
}

table {
  font-size: 14px;
}

.left-col, .right-col {
  display: table-cell;
  vertical-align: top;
}

.left-col {
  padding-right: 2px;
}

.right-col {
  padding-left: 2px;
}

.slider {
  transition: all 0.5s ease;
  transform-origin: 0 0 0;
}
.slider.show {
  transform: scale(1);
}
.slider.show.h100 {
  max-height: 100px;
}
.slider.show.h200 {
  max-height: 200px;
}
.slider.show.h300 {
  max-height: 300px;
}
.slider.show.h350 {
  max-height: 350px;
}
.slider.show.h400 {
  max-height: 400px;
}
.slider.show.h500 {
  max-height: 500px;
}
.slider.hide {
  transform: scale(0);
  max-height: 0px;
}

.autocomplete {
  position: relative;
}
.autocomplete .values {
  position: absolute;
  top: 100%;
  left: 0px;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  padding: 5px 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 94%;
  z-index: 100;
}
.autocomplete .values li {
  cursor: pointer;
  padding: 0 5px;
}
.autocomplete .values li:hover {
  background: #EEEEEE;
}

.pop-up {
  background: #FFFFFF;
  position: fixed;
  width: 200px;
  border: 1px solid #FFC107;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  top: 20%;
  left: 50%;
  margin-left: -100px;
}
.pop-up .note {
  margin-top: 10px;
}

body {
  background: #EEEEEE;
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
  color: #424242;
  font-size: 14px;
}
body.admin_page {
  background: url("/img/elems/sidebar-bg.png");
  background-color: #EEEEEE;
  background-position: 0 0;
  background-repeat: repeat-y;
}
body h1 {
  font-size: 24px;
  margin: 0px;
}
body #head_menu {
  width: 100%;
  height: 50px;
  background: #616161;
  line-height: 3em;
  border-bottom: 1px solid #212121;
}
body #head_menu li {
  line-height: 50px;
  display: inline-block;
}
body #head_menu li a {
  border-right: 1px solid #9E9E9E;
  padding: 5px;
  font-size: 14px;
}
body #head_menu li a:hover {
  text-decoration: underline;
}
body #head_menu li:last-child a {
  border-right: 0px;
}
body #head_menu .head_col {
  display: table-cell;
  vertical-align: top;
  width: 1%;
}
body #head_menu .head_col .web_logo {
  color: #FFC107;
  margin-left: 0.3em;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
}
body #head_menu .head_col .sign_btn {
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
body #head_menu .head_col .sign_block {
  line-height: 1.5em;
}
body .black-flow {
  width: 100%;
  height: 100%;
  background: #212121;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
}
body .sign-in-div span {
  margin-top: 10px;
}
body .sign-in-div em {
  color: red;
}
body .sign-in-div button, body .sign-in-div input[type="submit"] {
  margin-top: 10px;
}
body .sign-in-div .after-reg {
  cursor: pointer;
  text-decoration: underline;
}
body .sign-in-div .after-reg:hover {
  text-decoration: none;
}
body .sign-in-div .note.error-note {
  margin-top: 0px;
}
body .sign-in-div .auth-title {
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  text-decoration: underline;
  font-size: 13px;
  width: 100%;
}
body .sign-in-div .auth-title:nth-child(1) {
  text-align: left;
}
body .sign-in-div .auth-title:nth-child(2) {
  text-align: right;
}

.page-content {
  position: relative;
}
.page-content h2 {
  font-size: 18px;
}
.page-content .siderbar {
  padding: 5px;
  width: 300px;
  float: left;
  background: #FAFAFA;
  border-right: 1px solid #BDBDBD;
}
.page-content .siderbar h2 {
  font-weight: 500;
}
.page-content .siderbar ul {
  margin-bottom: 10px;
}
.page-content .siderbar ul li {
  padding: 5px 10px;
  height: 15px;
  color: #1A237E;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #EEEEEE;
}
.page-content .siderbar ul li:hover {
  border-bottom: 1px solid #3F51B5;
}
.page-content .siderbar ul li.active {
  background: #3F51B5;
  color: #FFFFFF;
}
.page-content .page-data {
  margin-left: 311px;
  padding: 5px;
}
.page-content .page-data .page-menu {
  margin: 0 10px;
  background: #3F51B5;
  color: #9FA8DA;
}
.page-content .page-data .page-menu ul {
  padding: 7px 10px;
}
.page-content .page-data .page-menu ul li {
  cursor: pointer;
  display: inline-block;
  padding: 3px 5px;
  border-right: 1px solid #9FA8DA;
}
.page-content .page-data .page-menu ul li.active {
  color: #EEEEEE;
}
.page-content .page-data .page-menu ul li:last-child {
  border-right: 0px;
}
.page-content .page-data .workarea {
  margin: 10px 10px;
}
.page-content .page-data .workarea h1 {
  padding-left: 20px;
  margin-bottom: 5px;
}
.page-content .page-data .workarea h2 {
  color: #1A237E;
}
.page-content .page-data .workarea table {
  border-spacing: 2px;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.page-content .page-data .workarea table th {
  text-align: left;
}
.page-content .page-data .workarea table tr {
  vertical-align: top;
}
.page-content .page-data .workarea table tr:nth-child(even) {
  background: #E8EAF6;
}
.page-content .page-data .workarea table td {
  vertical-align: middle;
  text-align: center;
}
.page-content .page-data .workarea table td.img {
  width: 100px;
}
.page-content .page-data .workarea table td.img img {
  width: 100px;
  height: 100px;
}
.page-content .page-data .workarea table td.tableCompanyPointer {
  cursor: pointer;
}
.page-content .page-data .workarea table td.tableCompanyPointer .manager-span {
  text-decoration: underline;
}
.page-content .page-data .workarea table td.icon-td {
  text-align: center;
}
.page-content .page-data .workarea table td.icon-td i {
  font-size: 30px;
  color: #616161;
}
.page-content .page-data .workarea table td.icon-td i:hover {
  color: #212121;
}
.page-content .page-data .workarea .company-info-table {
  font-size: 16px;
}
.page-content .page-data .workarea .company-info-table td {
  padding: 3px;
  text-align: left;
}
.page-content .page-data .workarea .search-results {
  background: #FFFFFF;
  width: 200px;
  box-shadow: inset 0 0 1px #3F51B5;
  border-top: none;
}
.page-content .page-data .workarea .search-results div {
  cursor: pointer;
}
.page-content .page-data .workarea .search-results div:hover {
  background: #3F51B5;
  color: #FFFFFF;
}
.page-content .page-data .workarea .add-new {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #BDBDBD;
}
.page-content .page-data .workarea .add-new .form {
  width: 400px;
  padding-right: 20px;
}
.page-content .page-data .workarea .add-new .form .note {
  margin-top: 10px;
}
.page-content .page-data .workarea .add-new .form .unit {
  width: 35%;
}
.page-content .page-data .workarea .add-new .preview {
  width: 400px;
  padding-left: 20px;
  border-left: 1px dashed #BDBDBD;
}
.page-content .page-data .workarea .add-new .preview .left-col img {
  width: 100px;
  height: 100px;
}
.page-content .page-data .workarea .add-new .preview .right-col {
  width: 100%;
}
.page-content .page-data .workarea .add-new .preview .right-col .price {
  text-align: right;
}
.page-content .page-data .workarea .add-new .nav {
  margin-top: 15px;
  text-align: right;
}
.page-content .page-data .workarea .add-new .nav button {
  margin-left: 5px;
}
.page-content .page-data .workarea .company .edit-manager .delete {
  margin-right: 10px;
}
.page-content .page-data .workarea .company button {
  margin-top: 10px;
}
.page-content .page-data .workarea .company button.cancel {
  margin-right: 10px;
}
.page-content .page-data .workarea .manager .cancel {
  margin-right: 10px;
}
