/* colors */
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Roboto:900,500,100,300,700,400&subset=cyrillic,latin);
@font-face {
  font-family: 'Roboto-light';
  src: url("../css/fonts/Roboto-Light.ttf");
}
* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.error {
  border: 1px solid red;
}

.note {
  font-size: 12px;
  text-align: left;
  color: #616161;
  line-height: 12px;
}

.error-note {
  color: rgba(255, 0, 0, 0.8);
}

.footnote {
  margin-top: 10px;
}

ul {
  list-style: none;
}

button, input[type="submit"] {
  background: #3F51B5;
  padding: 3px 20px;
  font-size: 13px;
  box-shadow: 0 0 0 1px #303F9F;
  border: none;
  border-radius: 0px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  width: auto;
}
button:hover, input[type="submit"]:hover {
  background: #303F9F;
  box-shadow: 0 0 0 1px #1A237E;
}
button.cancel, input[type="submit"].cancel {
  background: #616161;
  box-shadow: 0 0 0 1px #212121;
}
button.cancel:hover, input[type="submit"].cancel:hover {
  background: #424242;
}

input, textarea {
  padding: 5px;
  border: 1px solid #9FA8DA;
  outline: none;
  width: 100%;
  resize: vertical;
}
input:focus, textarea:focus {
  box-shadow: inset 0 0 3px #9E9E9E;
  border: 1px solid #3F51B5;
}

table {
  font-size: 14px;
}

.left-col, .right-col {
  display: table-cell;
  vertical-align: top;
}

.left-col {
  padding-right: 2px;
}

.right-col {
  padding-left: 2px;
}

.pop-up {
  background: #FFFFFF;
  position: fixed;
  width: 200px;
  border: 1px solid #FFC107;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  top: 20%;
  left: 50%;
  margin-left: -100px;
}
.pop-up .note {
  margin-top: 10px;
}

body {
  background: #EEEEEE;
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
  color: #424242;
  font-size: 14px;
}
body h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0px;
}
body #head_menu {
  width: 100%;
  height: 50px;
  background: #616161;
  line-height: 3em;
  border-bottom: 1px solid #212121;
}
body #head_menu li {
  line-height: 50px;
  display: inline-block;
}
body #head_menu li a {
  border-right: 1px solid #9E9E9E;
  padding: 5px;
  font-size: 14px;
}
body #head_menu li a:hover {
  text-decoration: underline;
}
body #head_menu li:last-child a {
  border-right: 0px;
}
body #head_menu .head_col {
  display: table-cell;
  vertical-align: top;
  width: 1%;
}
body #head_menu .head_col .web_logo {
  color: #FFC107;
  margin-left: 0.3em;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-family: 'Shadows Into Light', cursive;
}
body #head_menu .head_col .sign_btn {
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
body #head_menu .head_col .sign_block {
  line-height: 1.5em;
}
body .black-flow {
  width: 100%;
  height: 100%;
  background: #212121;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
}
body .sign-in-div span {
  margin-top: 10px;
}
body .sign-in-div em {
  color: red;
}
body .sign-in-div button, body .sign-in-div input[type="submit"] {
  margin-top: 10px;
}
body .sign-in-div .after-reg {
  cursor: pointer;
  text-decoration: underline;
}
body .sign-in-div .after-reg:hover {
  text-decoration: none;
}
body .sign-in-div .note.error-note {
  margin-top: 0px;
}
body .sign-in-div .auth-title {
  cursor: pointer;
  display: table-cell;
  vertical-align: top;
  text-decoration: underline;
  font-size: 13px;
  width: 100%;
}
body .sign-in-div .auth-title:nth-child(1) {
  text-align: left;
}
body .sign-in-div .auth-title:nth-child(2) {
  text-align: right;
}

.page-content {
  position: relative;
}
.page-content h2 {
  font-size: 18px;
}
.page-content .siderbar {
  position: fixed;
  padding: 5px;
  width: 300px;
  min-height: 100%;
  float: left;
  background: #FAFAFA;
  border-right: 1px solid #BDBDBD;
}
.page-content .siderbar h2 {
  font-weight: 500;
}
.page-content .siderbar ul {
  margin-bottom: 10px;
}
.page-content .siderbar ul li {
  padding: 5px 10px;
  height: 15px;
  color: #1A237E;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 1px solid #EEEEEE;
}
.page-content .siderbar ul li:hover {
  border-bottom: 1px solid #3F51B5;
}
.page-content .siderbar ul li.active {
  background: #3F51B5;
  color: #FFFFFF;
}
.page-content .page-data {
  margin-left: 311px;
  padding: 5px;
}
.page-content .page-data .page-menu {
  background: #3F51B5;
  color: #9FA8DA;
}
.page-content .page-data .page-menu ul {
  padding: 7px 10px;
}
.page-content .page-data .page-menu ul li {
  cursor: pointer;
  display: inline-block;
  padding: 3px 5px;
  border-right: 1px solid #9FA8DA;
}
.page-content .page-data .page-menu ul li.active {
  color: #EEEEEE;
}
.page-content .page-data .page-menu ul li:last-child {
  border-right: 0px;
}
.page-content .page-data .workarea {
  margin: 10px 0;
}
.page-content .page-data .workarea table {
  border-spacing: 2px;
  width: 100%;
}
.page-content .page-data .workarea table th {
  text-align: left;
}
.page-content .page-data .workarea table tr {
  vertical-align: top;
}
.page-content .page-data .workarea table tr:nth-child(even) {
  background: #D2D7F5;
}
.page-content .page-data .workarea table td.tableCompanyPointer {
  cursor: pointer;
}
.page-content .page-data .workarea table td.tableCompanyPointer .manager-span {
  text-decoration: underline;
}
.page-content .page-data .workarea table td.icon-td {
  text-align: center;
}
.page-content .page-data .workarea .search-results {
  background: #FFFFFF;
  width: 200px;
  box-shadow: inset 0 0 1px #3F51B5;
  border-top: none;
}
.page-content .page-data .workarea .search-results div {
  cursor: pointer;
}
.page-content .page-data .workarea .search-results div:hover {
  background: #3F51B5;
  color: #FFFFFF;
}
.page-content .page-data .workarea .add-new-company-div button {
  margin-top: 20px;
  display: block;
}
.page-content .page-data .workarea .add-new-company-div input {
  width: 200px;
}
.page-content .page-data .workarea .add-new-company-div span {
  display: block;
}
.page-content .page-data .workarea .add-new-company-div .add-new-company-confirm button {
  display: table-cell;
  margin-right: 15px;
}
.page-content .page-data .workarea .company button {
  margin-top: 10px;
}
.page-content .page-data .workarea .company button.cancel {
  margin-right: 10px;
}
